name: Lint

on:
  push:
  pull_request:
    type: [ "opened", "reopened", "synchronize" ]

env:
  FORCE_COLOR: 1

jobs:
  build:
    name: pre-commit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.cache/pre-commit
          key:
            lint-v1-${{ hashFiles('**/pyproject.toml') }}-${{ hashFiles('**/.pre-commit-config.yaml') }}
          restore-keys: |
            lint-v1-

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install pre-commit

      - name: Lint
        run: |
          pre-commit run --all-files --show-diff-on-failure
        env:
          PRE_COMMIT_COLOR: always
